:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 255 204 0; /* Binance gold */
  --oui-color-primary-light: 255 230 102;
  --oui-color-primary-darken: 204 153 0;
  --oui-color-primary-contrast: 0 0 0;

  --oui-color-link: 255 204 0;
  --oui-color-link-light: 255 230 102;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 200 200 200;
  --oui-color-quaternary: 140 140 140;

  --oui-color-danger: 255 68 68;
  --oui-color-danger-light: 255 130 130;
  --oui-color-danger-darken: 204 0 0;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 0 230 118;
  --oui-color-success-light: 102 255 178;
  --oui-color-success-darken: 0 153 76;
  --oui-color-success-contrast: 0 0 0;

  --oui-color-warning: 255 204 0;
  --oui-color-warning-light: 255 230 102;
  --oui-color-warning-darken: 204 153 0;
  --oui-color-warning-contrast: 0 0 0;

  --oui-color-fill: 10 10 10;
  --oui-color-fill-active: 20 20 20;

  --oui-color-base-1: 30 30 30;
  --oui-color-base-2: 25 25 25;
  --oui-color-base-3: 20 20 20;
  --oui-color-base-4: 15 15 15;
  --oui-color-base-5: 12 12 12;
  --oui-color-base-6: 10 10 10;
  --oui-color-base-7: 8 8 8;
  --oui-color-base-8: 6 6 6;
  --oui-color-base-9: 4 4 4;
  --oui-color-base-10: 2 2 2;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 204 0;

  --oui-color-trading-loss: 255 68 68;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 0 230 118;
  --oui-color-trading-profit-contrast: 0 0 0;

  /* gradients */
  --oui-gradient-primary-start: 255 204 0;
  --oui-gradient-primary-end: 204 153 0;

  --oui-gradient-secondary-start: 255 255 255;
  --oui-gradient-secondary-end: 255 204 0;

  --oui-gradient-success-start: 0 153 76;
  --oui-gradient-success-end: 0 230 118;

  --oui-gradient-danger-start: 153 0 0;
  --oui-gradient-danger-end: 255 68 68;

  --oui-gradient-brand-start: 255 204 0;
  --oui-gradient-brand-end: 255 255 255;
  --oui-gradient-brand-stop-start: 10%;
  --oui-gradient-brand-stop-end: 90%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 204 153 0;
  --oui-gradient-warning-end: 255 204 0;

  --oui-gradient-neutral-start: 0 0 0;
  --oui-gradient-neutral-end: 30 30 30;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
  background-color: rgb(10 10 10);
  color: rgb(255 255 255);
}
